node_modules/
.env
uploads/
client/node_modules/
client/dist/
package-lock.json
client/package-lock.json
server/qcm-data.json
server/responses-data.json
server/questionnaires-data.json
*.log
.DS_Store
